<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <span v-if="seen">
        看到我,试试app.seen = false
    </span>
    <ol>
        试试app.todos.push
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            seen: true,
            todos: [
                {text: "学习Vue"},
                {text: "学习Java"},
                {text: "全栈"}
            ]
        }
    })
</script>
</body>
</html>